.Update{
    background-color: white;
    width: 30%;
    min-width: 400px;
    margin: 15% auto;
    
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.09);
  
}

.Update h3{
    text-align: center;
    color: green;
    font-weight: bold;
    padding-top: 50px;
}

.UpdateForm .inputGroup{
    width: 300px;
    display: flex;
    flex-direction: column;
    
    margin: 10px auto;
    
}

.Update .inputGroup input{
    padding: 5px;
    width: 80%;
}

.Update .inputGroup AddressAutoComplete{
    padding: 5px;
    width: 50%;
}

.UpdateForm .inputGroup label{
    font-weight: bold;
}

.Update .UpdateForm .buttonGroup button{
    margin-left: 20%;
    margin-top: 10px;

}
