.MainPage {
    background-image: url('./store-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
}

.MainPage .pageTitle{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.MainPage .buttons {
    margin: 10%;
    
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}

.MainPage button{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    font-size: 20px;
}

.MainPage .productButton{
    background-color: 
    rgb(187, 251, 152);
}

.MainPage .productButton:hover{
    background-color: palegreen
}



.MainPage .userButton{
    background-color: aqua;
}

.MainPage .userButton:hover{
    background-color: rgb(152, 154, 251)
}

.MainPage .productButton i{
    margin:10px;

}

