.userTable{
    width: 100%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px;
}

.userTable table{
    margin-top: 30px;
}

.userTable table thead th{
    background-color: aquamarine;
    color: black;
    text-align: center;
}

.userTable tbody td{
    text-align: center;
    
}

.userTable .searchBox input{
    margin-top:10px;
    width: 50%;
    position: relative;
}

.topBar{
    width: 100%;
    background-color: rgb(0, 75, 128);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}


.search-dropdown{
    position: absolute;
    background:white;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-x:auto;
    width: 25%;
    
    list-style: none;
    padding: 0;
}

.search-dropdown li{
    padding: 10px;
    cursor: pointer;
}

.search-dropdown li:hover{
    background: #f0f0f0;
}

